resources/validation/xsd/notifications.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="notificacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="tiponotificacion"/>
        <xs:element name="operaciones">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="operacion" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="tipo"/>
                    <xs:element type="xs:string" name="id"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
